<template>
    <div class="d-flex">
        <form onsubmit="return false">
            <div class="row justify-content-md-end">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <label for="firstName">نام</label>
                    <input v-model="firstName" type="text" id="firstName" placeholder="نام">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <label for="lastName">نام خانوادگی</label>
                    <input v-model="lastName" type="text" id="lastName" placeholder="نام خانوادگی">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <label for="mail">ایمیل</label>
                    <input v-model="email" type="email" id="mail" placeholder="ایمیل">
                    <div class="error">{{ error }}</div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <label for="my-custom-input">تاریخ تولد</label>
                    <input
                            type="text"
                            class="form-control form-control-lg"
                            v-model="birthDate"
                            id="my-custom-input"
                            :placeholder="birthDate"
                            style="padding-bottom: 10px;"
                    />
                    <date-picker
                            v-model="birthDate"
                            format="jYYYY/jMM/jDD"
                            element="my-custom-input"
                    />
                </div>
                <div class="col-12 col-md-3">
                    <button @click="validator()" class="submitButton">ثبت اطلاعات</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                birthDate: '1399/03/01',
                email: '',
                firstName: '',
                lastName: '',
                valid: true,
                error: ''
            }
        },
        methods: {
            validator() {
                this.emailRegEx();
                if (this.valid) {
                    this.$emit('showReport');
                }
            },
            emailRegEx() {
                this.error = '';
                this.valid = true;
                if (!(this.email && this.email.length > 0)) {
                    this.valid = false;
                    this.error = "وارد کردن ایمیل الزامی است";
                } else if (!this.email.match(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
                    this.valid = false;
                    this.error = "ایمیل نامعتبر است";
                } else {
                    this.valid = true
                }
                return this.valid
            }
        }
    }
</script>
<style lang="scss">

    form {
        width: 100%;
        display: block;
        padding: 20px 20px 15px 20px;
        margin: 10px auto 20px auto;
        background: #f4f7f8;
        border-radius: 8px;
    }

    h1 {
        margin: 0 0 30px 0;
        text-align: center;
    }

    input[type="text"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"] {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 100%;
        background-color: #e8eeef;
        color: #555;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin: 0 4px 8px 0;
    }

    select {
        padding: 6px;
        height: 32px;
        border-radius: 2px;
    }

    .submitButton {
        padding: 12px 20px 10px 20px;
        color: #FFF;
        background-color: #4bc970;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #3ac162;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
        margin-bottom: 10px;
        cursor: pointer;
    }

    legend {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    label {
        display: block;
        margin-bottom: 8px;
        float: right;
    }

    label.light {
        font-weight: 300;
        display: inline;
    }

    .number {
        background-color: #5fcf80;
        color: #fff;
        height: 30px;
        width: 30px;
        display: inline-block;
        font-size: 0.8em;
        margin-right: 4px;
        line-height: 30px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
        border-radius: 100%;
    }

    .error {
        font-size: 10px;
        position: relative;
        top: -23px;
        left: 88px;
        color: red;
    }

    @media screen and (min-width: 480px) {
        .error {
            font-size: 10px;
            position: relative;
            top: -23px;
            left: 50px;
            color: red;
        }
    }

    @media screen and (min-width: 767px) {
        .error {
            left: 59px;
        }
    }
</style>