<template>
    <div class="d-flex flex-column w-100">
        <div class="cardWrapper">
            <div v-for="(item, index) in items" :key="index" class="reportCard">
                <div class="w-100">
                    <div class="title-box mb-5">
                        <p class="title">{{item.title}}</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="total">
                            <span><span style="margin-left:3px">مبلغ کل:</span>{{item.total}}</span>
                        </div>
                        <div class="count">
                            <span><span>تعداد:</span>{{item.count}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {tableData} from '../../utils/staticData/statistics'

    export default {
        data() {
            return {
                items: ''
            }
        },
        mounted() {
            this.items = tableData.data;
        }
    }
</script>
<style lang="scss">
    .cardWrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin: 10px -10px 10px -10px;

        .reportCard {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            min-width: 200px;
            border-radius: 10px;
            flex-direction: column;
            white-space: nowrap;
            margin: 10px;
            padding: 20px 15px;
            background: #eaeaea;
        }
    }


    .title-box {
        .title {
            background-color: #fff;
            padding: 14px;
            border-radius: 11px;
            font-weight: bold;
        }
    }
</style>