<template>
    <div>
        <div class="table-box">
            <table>
                <tr>
                    <th style="width: 100px">نام</th>
                    <th style="width: 150px">نام خانوادگی</th>
                    <th style="width: 100px">سن</th>
                    <th style="width:120px; cursor:pointer" @click="sort()">موجودی کیف پول</th>
                    <th style="width: 120px">کد کاربر</th>
                    <th style="min-width:300px;">توضیحات کاربر</th>
                    <th style="width:130px;">عملیات</th>
                </tr>
                <tr v-for="(item, index) in items" :key="index">
                    <td>{{item.name}}</td>
                    <td>{{item.family_name}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.balance}}</td>
                    <td>{{item.user_code}}</td>
                    <td>
                        <p>{{item.user_description}}</p>
                    </td>
                    <td>
                        <div class="d-flex flex-column">
                            <button v-if="item.actions.includes('edit')" class="edit w-100">
                                ویرایش
                            </button>
                            <button v-if="item.actions.includes('remove')" :style="items[index].actions[0]=='edit' || items[index].actions[1]=='edit'?'margin-top:11px;':''" class="remove w-100">
                                حذف
                            </button>
                            <p v-if="!(item.actions.includes('remove') || item.actions.includes('edit'))" class="text-center">بدون عملیات</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>
<script>
    import {statistics} from '../../utils/staticData/statistics'

    export default {
        data() {
            return {
                items: '',
                isAscendingSorted: false
            }
        },
        mounted() {
            this.items = statistics.data;
        },
        methods: {
            sort() {
                this.items.sort((a, b) => {
                    if (a.balance < b.balance) return this.isAscendingSorted ? 1 : -1;
                    if (a.balance > b.balance) return this.isAscendingSorted ? -1 : 1;
                    return 0;
                });
                this.isAscendingSorted = !this.isAscendingSorted
            }
        }
    }
</script>
<style lang="scss">
    .table-box {
        overflow-x: auto;
    }

    @media(max-width: 768px) {
        table {
        }
    }

    @media (min-width: 768px) {
        table {
            font-size: 12px;
        }
    }

    table {
        margin: 20px 0;
        font-size: 14px;
        border-radius: 2px;
        width: 100%;
        border: 1px solid #eee;

        th, td {
            text-align: center;
            padding: 8px;
            border: 1px solid #eee;

            p {
                margin-bottom: 0;
            }
        }

        tr:nth-child(1) {
            background: #f0f0f0;
        }

        .remove, .edit {
            border-radius: 4px;
            height: 33px;
            background-color: #fd9a35;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }

        .edit {
            background: #359fdc;
        }

        .remove {
            background: #e72050;
        }
    }

</style>