<template>
    <div class="container">
        <div class="parent-container">
            <div class="d-md-flex align-items-center row">
                <div class="col-12 col-md-5 d-flex align-items justify-content-center justify-content-md-start  header">
                    <img width="30" height="30" src="../assets/images/logo.png">
                    <span>بیمه زندگی خاورمیانه</span>
                </div>
                <div class="col-12 col-md-7 tabs">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-end flex-wrap">
                        <button @click="tab_id = 1" class="button button-gray ml-2" :class="{'button-yellow' :tab_id ===1}">جدول</button>
                        <button @click="tab_id = 2" class="button button-gray ml-2" :class="{'button-yellow' :tab_id ===2}">فرم</button>
                        <button @click="tab_id = 3" class="button button-gray" :class="{'button-yellow' :tab_id ===3}">گزارش</button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <Table v-if="tab_id === 1"/>
                <Form @showReport="tab_id = 3" v-if="tab_id === 2"/>
                <Report v-if="tab_id === 3"/>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from './Tabs/Form'
    import Table from './Tabs/Table'
    import Report from './Tabs/Report'

    export default {
        name: 'Melico',
        components: {
            Table,
            Form,
            Report
        },
        data() {
            return {
                tab_id: 1
            }
        },
        mounted() {
            this.formSubmitted = true
        },
    }
</script>

<style scoped lang="scss">
    @media (min-width: 768px) {
        .header {
            margin-top: 20px;
        }
    }

    @media (min-width: 576px) {
        .tabs {
            margin-top: 20px;
        }
    }

    @media (max-width: 576px) {
        .header {
            img {
                margin-top: 2px;
            }

            span {
                margin-top: 2px;
            }
        }
        .tabs {
            margin-top: 15px;
        }
        button {
            height: 42px;
            padding: 6px;
        }
    }

    .parent-container {
        background: white;
        box-shadow: 0 0 5px rgba(14, 8, 8, .3);
        border-radius: 10px;
    }

    .header {
        margin-top: 10px;

        img {
            margin-left: 10px;
        }

        span {
            margin-top: 4px;
        }
    }

    .button {
        background-color: #fd9a35;
        border: 1px solid transparent;
        padding: 5px 15px;
        min-width: 100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 4px;
      outline: 0;

        &.button-gray {
            background: #f0f0f0;
            color: #555;
        }

        &.button-yellow {
            background: #fd9a35;
            color: #fff;
        }

        &:hover {
            border-color: #fd9a35;
        }
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
</style>
