<template>
    <div id="app">
        <Melico/>
    </div>
</template>

<script>
    import Melico from './components/Melico.vue'
    import './utils/bootstrap/bootstrap.css'
    import './utils/bootstrap/bootstrap.min.css'

    export default {
        name: 'App',
        components: {
            Melico
        }
    }
</script>

<style lang="scss">
    @font-face {
        font-family: IRANSans;
        src: url('./assets/fonts/IRANSansWeb.ttf');
    }

    @media (max-width: 576px) {
        #app {
            margin-top: 0 !important;
        }
    }

    #app {
        padding: 117px 0;
        height: fit-content;
        font-family: IRANSans, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: hsl(210, 29%, 24%);
        background-color: #117a8b6b;
    }
</style>
